In [3]:
import pandas as pd

series = pd.series(["BMW", "Toyota", "Honda"])
series

In [4]:
car_data = pd.Dataframe({"BMW" :series, "Honda": series})
car_data

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [6]:
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [7]:
series = pd.series(["Red", "Blue", "White"])
series

AttributeError: module 'pandas' has no attribute 'series'

In [8]:
colours = pd.Series(["BMW", "Toyota", "Honda"])
colours

0       BMW
1    Toyota
2     Honda
dtype: object

In [9]:
car_data = pd.Dataframe({"BMW" :series, "Honda": colours})
car_data

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [10]:
car_data = pd.DataFrame({"BMW" :series, "Honda": series})
car_data

      BMW   Honda
0     BMW     BMW
1  Toyota  Toyota
2   Honda   Honda

In [11]:
car_data = pd.DataFrame({"BMW" :series, "Honda": colours})
car_data

      BMW   Honda
0     BMW     BMW
1  Toyota  Toyota
2   Honda   Honda

In [12]:
colours

0       BMW
1    Toyota
2     Honda
dtype: object

In [13]:
colours = pd.Series(["Red", "Blue", "Black"])
colours

0      Red
1     Blue
2    Black
dtype: object

    Brand Colour
0     BMW    Red
1  Toyota   Blue
2   Honda  Black

In [16]:
car_sales= pd.read_csv("car-sale-csv.csv")
car_sales

      Brand  Color  Doors  Price
0    Toyota    Red      4  $1500
1      Ford   Blue      3  $4000
2      Audi  White      4  $3000
3  Meceries  Black      3  $2000
4      Tata    Red      4  $1500
5     Honda  Black      4  $1200

In [22]:
car_sales.to_csv("exported-car-sales.csv", index=False)

In [23]:
exported_car_sales= pd.read_csv("exported-car-sales.csv")
exported_car_sales

      Brand  Color  Doors  Price
0    Toyota    Red      4  $1500
1      Ford   Blue      3  $4000
2      Audi  White      4  $3000
3  Meceries  Black      3  $2000
4      Tata    Red      4  $1500
5     Honda  Black      4  $1200

## Describe data

In [24]:
car_sales.dtypes

Brand    object
Color    object
Doors     int64
Price    object
dtype: object

In [ ]:
#Attribute
car_sales.dtypes
#Function
car_sales.tocsv()