In [22]:
import numpy as np
al = np.array([1,2,3])
al

array([1, 2, 3])

In [23]:
type(al)

numpy.ndarray

In [24]:
a2 = np.array([[1, 2, 3.5], [4, 5, 6.5]])
a2

array([[1. , 2. , 3.5],
       [4. , 5. , 6.5]])

In [25]:
##DataType & Attributes
a3 = np.array([[[1, 2, 3], [4, 5, 6], [7,8,9]],[[10, 11, 12], [13, 14,15], [16,17,18]] ])

a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

import numpy as np
i

In [26]:
al.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [27]:
type(a3)

numpy.ndarray

In [28]:
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.5
1  4.0  5.0  6.5

In [29]:
ones = np.ones((2,3,))

In [30]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [31]:
zeros = np.zeros((2,3))

In [32]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [33]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [34]:
random_array = np.random.randint(0, 10, size=(3,5))
random_array

array([[8, 8, 2, 3, 2],
       [0, 8, 8, 3, 8],
       [2, 8, 4, 3, 0]])

In [35]:
random_array_2 = np.random.random((5,3))
random_array_2

array([[0.84640867, 0.69947928, 0.29743695],
       [0.81379782, 0.39650574, 0.8811032 ],
       [0.58127287, 0.88173536, 0.69253159],
       [0.72525428, 0.50132438, 0.95608363],
       [0.6439902 , 0.42385505, 0.60639321]])

In [36]:
random_array_3 = np.random.rand(5,3)
random_array_3

array([[0.0191932 , 0.30157482, 0.66017354],
       [0.29007761, 0.61801543, 0.4287687 ],
       [0.13547406, 0.29828233, 0.56996491],
       [0.59087276, 0.57432525, 0.65320082],
       [0.65210327, 0.43141844, 0.8965466 ]])

In [37]:
np.random.seed(seed=0)
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [38]:
np.unique(random_array_4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
a4= np.random.randint(10, size=(2,3,4,5))
a4

array([[[[6, 7, 7, 8, 1],
         [5, 9, 8, 9, 4],
         [3, 0, 3, 5, 0],
         [2, 3, 8, 1, 3]],

        [[3, 3, 7, 0, 1],
         [9, 9, 0, 4, 7],
         [3, 2, 7, 2, 0],
         [0, 4, 5, 5, 6]],

        [[8, 4, 1, 4, 9],
         [8, 1, 1, 7, 9],
         [9, 3, 6, 7, 2],
         [0, 3, 5, 9, 4]]],


       [[[4, 6, 4, 4, 3],
         [4, 4, 8, 4, 3],
         [7, 5, 5, 0, 1],
         [5, 9, 3, 0, 5]],

        [[0, 1, 2, 4, 2],
         [0, 3, 2, 0, 7],
         [5, 9, 0, 2, 7],
         [2, 9, 2, 3, 3]],

        [[2, 3, 4, 1, 2],
         [9, 1, 4, 6, 8],
         [2, 3, 0, 0, 6],
         [0, 6, 3, 3, 8]]]])

In [43]:
al

array([1, 2, 3])

In [45]:
ones=np.ones(3)
ones

array([1., 1., 1.])

In [47]:
al+ones

array([2., 3., 4.])

In [49]:
al-ones

array([0., 1., 2.])

In [50]:
a2

array([[1. , 2. , 3.5],
       [4. , 5. , 6.5]])

In [52]:
al*a2

array([[ 1. ,  4. , 10.5],
       [ 4. , 10. , 19.5]])

In [53]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [54]:
a2*a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [57]:
listy_list = [1, 2, 3]

type(listy_list)

list

In [58]:
sum(listy_list)

6

In [59]:
massive_array = np.random.randint(10000);

In [61]:
np.sum(massive_array)

2492